html {
    font-size: 130%;  
    font-family: 'Times New Roman', Times, serif
}

body {
    
    padding: 0.5% ;

    background-color: rgb(94, 167, 117);
}
.conteiner-top {
    display: block;
    position: static;
    box-sizing: border-box;
}
.place-top-container {

}

.container-header {
    position: sticky;
    top: -1px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    border: 5px solid rgb(0, 94, 78);
    background-color: goldenrod;
    align-items: center;
    
}

.logo {
    
    color: #5c1586;
    font-size: 140%;
    justify-self: center;
    
}

.navigation  {
    font-size: 110%;
    display: flex;
    justify-self: space-around;
    gap: 1em;

    font-family: fantasy;
    list-style: none;
}
.li {
    margin-left: auto;
    margin-right: auto;
}
main {
    display: grid;

}

.top-text {
    color: brown;
    text-align: left;
}

.content-text {
    color:darkslateblue;
    text-align: left;
}